@import url('https://fonts.googleapis.com/css?family=Roboto');

title
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
}

.center 
{
	text-align: center;
}