@import url('https://fonts.googleapis.com/css?family=Roboto');

h1
{
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}

ul
{
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
}